#sofresh * {
	background: transparent;
	display: block;
	float: none;
	border: none;
	outline: none;
	cursor: default;
	margin: 0;
	padding: 0;
	color: #fff;
	font: normal 12px/12px "helveticaneue", "helvetica neue", helvetica, arial, sans-serif;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

#sofresh {
	display: block !important;
	position: fixed;
	top: 12px;
	left: 10px;
	width: 240px;
	margin: 20px;
	border: none;
	outline: none;
	z-index: 99999;
	 -webkit-background-clip: padding-box;
	         background-clip: padding-box;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	     -o-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	        box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-webkit-transition: 0.2s box-shadow ease;
	   -moz-transition: 0.2s box-shadow ease;
	     -o-transition: 0.2s box-shadow ease;
	        transition: 0.2s box-shadow ease;
}

#sofresh:hover {
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	     -o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	        box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#sofresh a {
	color: #fff;
}

#sofresh a:hover {
	color: #2c3e50;
	cursor: pointer;
}

#sofresh .sofresh-icon {
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
}

#sofresh #sofresh_header {
	height: 35px;
	background: #16a085;
	cursor: move;
}

#sofresh #sofresh_header em {
	display: inline;
	font-style: normal;
	font-size: 0.75em;
	padding: 0 0 0 0.75em;
	cursor: move;
}

#sofresh #sofresh_content_toggler {
	float: right;
	width: 16px;
	height: 16px;
	margin: 10px 6px 0 0;
	-webkit-transition-duration: 0.4s;
	   -moz-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
	     -o-transition-property: -o-transform;
	        transition-property: transform;
	overflow: hidden;
}

#sofresh #sofresh_content_toggler img {
	cursor: pointer;
}

#sofresh.sofresh-expanded #sofresh_content_toggler {
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
}

#sofresh.sofresh-collapsed #sofresh_content_toggler {
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
	     -o-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}

#sofresh #sofresh_title {
	float: left;
	height: 35px;
	padding: 0 7px;
	line-height: 35px;
	font-size: 1.1em;
	cursor: move;
}

#sofresh #sofresh_close {
	position: absolute;
	top: -17px;
	right: -17px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: 0.2s opacity ease;
	   -moz-transition: 0.2s opacity ease;
	     -o-transition: 0.2s opacity ease;
	        transition: 0.2s opacity ease;
}

#sofresh:hover #sofresh_close {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

#sofresh #sofresh_close:hover {
	filter: alpha(opacity=100) !important;
	opacity: 1.0 !important;
}

#sofresh #sofresh_close img {
	width: 33px;
	height: 33px;
	cursor: pointer;
}

#sofresh #sofresh_content {
	background: #fff;
	max-height: 216px;
	overflow: auto;
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	     -o-transform: translateZ(0);
	        transform: translateZ(0);
}

#sofresh #sofresh_messages .sofresh_message {
	padding: 5px 7px;
	font-size: 0.9em;
}

#sofresh #sofresh_messages .sofresh_message a {
	display: inline;
	font-size: 1em;
	text-decoration: underline;
}

#sofresh #sofresh_messages .sofresh_message_info {
	background: #f1c40f;
}

#sofresh #sofresh_content_actions {
	padding: 5px 7px;
	margin: 0;
	font-size: 0.9em;
	color: #fff;
	background: #1abc9c;
}

#sofresh #sofresh_content_actions a {
	display: inline !important;
	font-size: 0.9em;
	cursor: pointer;
	text-decoration: underline;
}

#sofresh #sofresh_links {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sofresh #sofresh_links li {
	clear: both;
	height: 18px;
	padding: 6px 5px;
	background: #ecf0f1;
	border-bottom: 1px solid #bdc3c7;
	border-left: 4px solid #bdc3c7;
}

#sofresh #sofresh_links li.sofresh-active {
	border-left-color: #2ecc71;
}

/*#sofresh #sofresh_links li.sofresh-highlight {
	background: #2ecc71;
	border-bottom-color: #27ae60;
}*/

#sofresh #sofresh_links li.sofresh-inactive {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

#sofresh #sofresh_links li.sofresh-inactive:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

#sofresh.sofresh-collapsed #sofresh_links li.sofresh-inactive {
	display: none;
}

#sofresh.sofresh-collapsed #sofresh_links li {
	border-left: 0;
}

#sofresh #sofresh_links li .sofresh-icon-wrapper {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
}

#sofresh #sofresh_links li.sofresh-active .sofresh-icon-checkbox-checked {
	display: inline-block;
}

#sofresh #sofresh_links li.sofresh-inactive .sofresh-icon-checkbox-checked {
	display: none;
}

#sofresh #sofresh_links li.sofresh-active .sofresh-icon-checkbox-unchecked {
	display: none;
}

#sofresh #sofresh_links li.sofresh-inactive .sofresh-icon-checkbox-unchecked {
	display: inline-block;
}

#sofresh #sofresh_links li label {
	display: block;
	float: left;
	width: 85%;
	height: 18px;
	line-height: 18px;
	font-size: 0.95em;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	text-overflow: ellipsis;
	color: #2c3e50;
	cursor: pointer;
}

#sofresh #sofresh_links li input {
	position: absolute;
	top: -50000px;
}

#sofresh #sofresh_links li a {
	display: block;
	float: right;
}

#sofresh #sofresh_links li a img {
	margin: 1px 1px 0 0;
	cursor: pointer;
}

#sofresh #sofresh_footer {
	background: #fff;
	font-size: 0.9em;
	color: #95a5a6;
	padding: 4px 6px;
	text-align: center;
}

#sofresh #sofresh_footer a {
	display: inline !important;
	font-size: 0.9em;
	color: #95a5a6;
	cursor: pointer;
	text-decoration: underline;
}

#sofresh #sofresh_footer a:hover {
	color: #34495e;
}