AddType application/x-httpd-php .js
AddHandler x-httpd-php5 .js

<FilesMatch "sofresh\.js$">
	SetHandler application/x-httpd-php
</FilesMatch>

<ifModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>
